extends ../layout

block content
	.container
		.row
			.col-md-offset-2.col-md-8
				ul.nav.nav-tabs(role="tablist", style="font-size: 18px;")
					li.active(role="presentation")
						a(href="#home", aria-controls="home", role="tab", data-toggle="tab") 今日焦点
					li(role="presentation")
						a(href="#profile1", aria-controls="profile1", role="tab", data-toggle="tab") 市场
					li(role="presentation")
						a(href="#profile2", aria-controls="profile2", role="tab", data-toggle="tab") 科技
					li(role="presentation")
						a(href="#profile3", aria-controls="profile3", role="tab", data-toggle="tab") 政策
				div.tab-content(style="font-size: 16px;")
					div.tab-pane.active#home(role="tabpanel")
						.col-md-5(style="border: 1px solid #eee;")
							ul
								- var newslist = ['11111a', '22222a', '33333a', '44444a', '55555a'];
								- for (var i = 0; i < newslist.length; i++) {
									li 
										a(href="javascript:void(0)") #{newslist[i]}
								- }
						.col-md-2
							.row
								| &nbsp;
								.col-md-12(style="display: flex; justify-content: center; align-items: center;")
									a(href="javascript:void(0)", title="右移") >>>
								| &nbsp;
								.col-md-12(style="display: flex; justify-content: center; align-items: center;")
									a(href="javascript:void(0)", title="左移") <<<
						.col-md-5(style="border: 1px solid #eee;")
							ul
								- var newslist = ['11111a', '22222a', '33333a', '44444a', '55555a'];
								- for (var i = 0; i < newslist.length; i++) {
									li 
										a(href="javascript:void(0)") #{newslist[i]}
								- }
					div.tab-pane#profile1(role="tabpanel")
						.col-md-5(style="border: 1px solid #eee;")
							ul
								- var newslist = ['11111b', '22222b', '33333b', '44444b', '55555b'];
								- for (var i = 0; i < newslist.length; i++) {
									li 
										a(href="javascript:void(0)") #{newslist[i]}
								- }
						.col-md-2(style="display: flex; justify-content: center; align-items: center;")
							.row
								| &nbsp;
								.col-md-12(style="display: flex; justify-content: center; align-items: center;")
									a(href="javascript:void(0)", title="右移") >>>
								| &nbsp;
								.col-md-12(style="display: flex; justify-content: center; align-items: center;")
									a(href="javascript:void(0)", title="左移") <<<
						.col-md-5(style="border: 1px solid #eee;")
							ul
								- var newslist = ['11111b', '22222b', '33333b', '44444b', '55555b'];
								- for (var i = 0; i < newslist.length; i++) {
									li 
										a(href="javascript:void(0)") #{newslist[i]}
								- }
					div.tab-pane#profile2(role="tabpanel")
						.col-md-5(style="border: 1px solid #eee;")
							ul
								- var newslist = ['11111c', '22222c', '33333c', '44444c', '55555c'];
								- for (var i = 0; i < newslist.length; i++) {
									li 
										a(href="javascript:void(0)") #{newslist[i]}
								- }
						.col-md-2(style="display: flex; justify-content: center; align-items: center;")
							.row
								| &nbsp;
								.col-md-12(style="display: flex; justify-content: center; align-items: center;")
									a(href="javascript:void(0)", title="右移") >>>
								| &nbsp;
								.col-md-12(style="display: flex; justify-content: center; align-items: center;")
									a(href="javascript:void(0)", title="左移") <<<
						.col-md-5(style="border: 1px solid #eee;")
							ul
								- var newslist = ['11111c', '22222c', '33333c', '44444c', '55555c'];
								- for (var i = 0; i < newslist.length; i++) {
									li 
										a(href="javascript:void(0)") #{newslist[i]}
								- }
					div.tab-pane#profile3(role="tabpanel")
						.col-md-5(style="border: 1px solid #eee;")
							ul
								- var newslist = ['11111d', '22222d', '33333d', '44444d', '55555d'];
								- for (var i = 0; i < newslist.length; i++) {
									li 
										a(href="javascript:void(0)") #{newslist[i]}
								- }
						.col-md-2(style="display: flex; justify-content: center; align-items: center;")
							.row
								| &nbsp;
								.col-md-12(style="display: flex; justify-content: center; align-items: center;")
									a(href="javascript:void(0)", title="右移") >>>
								| &nbsp;
								.col-md-12(style="display: flex; justify-content: center; align-items: center;")
									a(href="javascript:void(0)", title="左移") <<<
						.col-md-5(style="border: 1px solid #eee;")
							ul
								- var newslist = ['11111d', '22222d', '33333d', '44444d', '55555d'];
								- for (var i = 0; i < newslist.length; i++) {
									li 
										a(href="javascript:void(0)") #{newslist[i]}
								- }